.expo/README.md
.expo/settings.json
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/TierApp.iml
.idea/vcs.xml
todo/.idea/modules.xml
todo/.idea/other.xml
todo/.idea/todo.iml
todo/.idea/vcs.xml
todo/.idea/workspace.xml
node_modules
